$animate: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s, width 0.3s, height 0.3s;

body {
  background-color: #225680;
}

a {
  color: white;
}

h1 {
  font-size: 5rem;
  color: white;
  font-family: 'Dosis', sans-serif;
}

h2 {
  color: white;
  font-family: 'Leckerli One', cursive;
}

.page-title {
  margin-bottom: -30px;
}

.social {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  animation: slide-right 2s ease-out;
}

@keyframes slide-right {
  from{left: -100px; opacity: 0;}
  to{left: 10px; opacity: 1;}
}

i {
  margin-right: 10px;
  padding: 5px;

  &:hover {
    background-color: white;
    border-radius: 10px;
  }
}

.container {
  margin-top: 5vh;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  animation: lowerfade 1 2s ease-out;
}

.row {
  display: inline-flex;
}

.column {
  display: inline-grid;
}

.column-1 {
  animation: breathe infinite 2s 2s ease-in-out;
}

.column-2 {
  animation: breathe infinite 2s 2.2s ease-in-out;
}

.column-3 {
  animation: breathe infinite 2s 2.4s ease-in-out;
}

.column-4 {
  animation: breathe infinite 2s 2.6s ease-in-out;
}

.column-5 {
  animation: breathe infinite 2s 2.8s ease-in-out;
}

.column-6 {
  animation: breathe infinite 2s 3s ease-in-out;
}

@keyframes lowerfade {
  from{transform: translateY(-200px); opacity: 0;}
  to{transfrom: translateY(0px); opacity: 1;}
}

@keyframes breathe {
  0%{transform: translateY(0px);}
  50%{transform: translateY(-20px);}
  100%{transform: translateY(0px);}
}

.card {
  display: inline-block;
  margin: 20px;
  width: 150px;
  height: 200px;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
  transition: $animate;
  text-decoration: none;
}

.card:hover {
  color: #225680;
  top: -10px;
  background-color: white;
  cursor: pointer;
  width: 200px;
  height: 250px;
  transition: $animate;
  animation: breathe infinite 0s;
}

.card-title {
  font-family: 'Fredoka One', cursive;
  margin-top: 60px;
}

.color-wheel {
  width: 50px;
  height: 50px;
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  animation: fade-in 2s ease-out;
}

@keyframes fade-in {
  from{opacity: 0;}
  to{opacity: 0.5;}
}

.color-wheel:hover{
  opacity: 1;
  cursor: pointer;
}
